<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <title>Login to system</title>

    <link rel="shortcut icon" href="https://sauanla.com/wp-content/uploads/2020/06/ico-logo-sauanla2-300x245.png"/>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/toastr/toastr.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="home-btn d-none d-sm-block"><a href="/" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div class="wrapper-page">
    <div class="card overflow-hidden account-card mx-3">
        <div class="bg-primary p-4 text-white text-center position-relative">
            <h4 class="font-20 m-b-5">Welcome Back !</h4>
            <p class="text-white-50 mb-4">Sign in to continue to Sauanla application</p><a href="/"
                                                                                           class="logo logo-admin"><img
                        src="https://sauanla.com/wp-content/uploads/2020/06/ico-logo-sauanla2-300x245.png" height="24"
                        alt="logo"></a>
        </div>
        <div class="account-card-content">
            <form class="form-horizontal m-t-30" action="#">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password">
                </div>
                <div class="form-group row m-t-20">
                    <div class="col-sm-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Remember me</label>
                        </div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button class="btn btn-primary w-md waves-effect waves-light" type="button" id="btnLogin"
                                style="cursor: pointer !important;">Log In
                        </button>
                    </div>
                </div>
                <div class="form-group m-t-10 mb-0 row">
                    <div class="col-12 m-t-20">
                        <a href="#"><i class="mdi mdi-lock"></i> Forgot
                            your password?</a></div>
                </div>
            </form>
        </div>
    </div>
    <div class="m-t-40 text-center">
        <p>Don't have an account ? <a href="#" class="font-500 text-primary">Signup now</a></p>
    </div>
</div><!-- end wrapper-page -->
<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>
<script src="/assets/js/waves.min.js"></script>
<script src="/plugins/toastr/toastr.min.js"></script>
<!-- App js -->
<script src="/assets/js/app.js"></script>

<script src="/assets/js/base/ajax.js"></script>
<script src="/assets/js/base/notify.js"></script>
<script src="/assets/js/live/account/account.action.js"></script>

<%- captcha %>
<script>
    function cb(token) {
        const input = document.createElement('input');
        input.setAttribute('type', 'hidden');
        input.setAttribute('name', 'g-recaptcha-response');
        input.setAttribute('id', 'recaptcha');
        input.setAttribute('value', token);
        document.getElementsByTagName('form')[0].appendChild(input);
    }
</script>
</body>

</html>
