<div class="topbar">
  <!-- LOGO -->
  <div class="topbar-left">
    <a href="/" class="logo">
      <span>
        <img src="https://sauanla.com/wp-content/uploads/2020/06/while-logo-sauanla.png" alt="" height="55"
          style="padding-right: 30px" /> </span><i><img
          src="https://sauanla.com/wp-content/uploads/2020/06/ico-logo-sauanla2-300x245.png" alt="" height="22" /></i>
    </a>
  </div>
  <nav class="navbar-custom">
    <ul class="navbar-right list-inline float-right mb-0">
      <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
        <form role="search" class="app-search">
          <div class="form-group mb-0">
            <input type="text" class="form-control" placeholder="Search.." />
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </li> 
      <!-- full screen -->
      <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
        <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
          <i class="mdi mdi-fullscreen noti-icon"></i>
        </a>
      </li>
      <!-- notification -->
      <li class="dropdown notification-list list-inline-item">
        <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
          aria-haspopup="false" aria-expanded="false">
          <i class="mdi mdi-bell-outline noti-icon"></i>
          <span class="badge badge-pill badge-danger noti-icon-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
          <!-- item-->
          <h6 class="dropdown-item-text">Notifications (258)</h6>
          <div class="slimscroll notification-item-list">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item active">
              <div class="notify-icon bg-success">
                <i class="mdi mdi-cart-outline"></i>
              </div>
              <p class="notify-details">
                Your order is placed<span class="text-muted">
                  Dummy text of the printing and typesetting industry.
                </span>
              </p>
            </a><!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="notify-icon bg-warning">
                <i class="mdi mdi-message-text-outline"></i>
              </div>
              <p class="notify-details">
                New Message received<span class="text-muted">You have 87 unread messages</span>
              </p>
            </a><!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="notify-icon bg-info">
                <i class="mdi mdi-glass-cocktail"></i>
              </div>
              <p class="notify-details">
                Your item is shipped<span class="text-muted">It is a long established fact that a reader will</span>
              </p>
            </a><!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="notify-icon bg-primary">
                <i class="mdi mdi-cart-outline"></i>
              </div>
              <p class="notify-details">
                Your order is placed<span class="text-muted">
                  Dummy text of the printing and typesetting industry.
                </span>
              </p>
            </a><!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="notify-icon bg-danger">
                <i class="mdi mdi-message-text-outline"></i>
              </div>
              <p class="notify-details">
                New Message received<span class="text-muted">You have 87 unread messages</span>
              </p>
            </a>
          </div>
          <!-- All-->
          <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
            View all <i class="fi-arrow-right"></i>
          </a>
        </div>
      </li>
      <li class="dropdown notification-list list-inline-item">
        <div class="dropdown notification-list nav-pro-img">
          <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#"
            role="button" aria-haspopup="false" aria-expanded="false">
            <img src="https://graph.fb.me/100004574107394/picture" alt="user" class="rounded-circle" />
          </a>
          <div class="dropdown-menu dropdown-menu-right profile-dropdown">
            <!-- item-->
            <a class="dropdown-item" href="https://fb.com/100004574107394" target="_blank"><i
                class="mdi mdi-facebook m-r-5"></i> Profile</a>
            <a class="dropdown-item d-block" href="http://sauanla.com/" target="_blank">
              <i class="mdi mdi-web m-r-5"></i> Website
            </a>
            <a class="dropdown-item" href="https://github.com/seakBz" target="_blank">
              <i class="mdi mdi-github-circle m-r-5"></i> Github
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="/account/logout"><i class="mdi mdi-power text-danger"></i> Logout</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="list-inline menu-left mb-0">
      <li class="float-left">
        <button class="button-menu-mobile open-left waves-effect">
          <i class="mdi mdi-menu"></i>
        </button>
      </li>
      <li class="d-none d-sm-block">
        <div class="dropdown pt-3 d-inline-block">
          <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Create</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>