<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from themesbrand.com/veltrix/layouts/vertical/pages-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Nov 2019 07:40:23 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <title>401 - You don't have access</title>
    <meta content="Admin Dashboard" name="description">
    <meta content="Themesbrand" name="author">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Begin page -->
    <div class="ex-pages">
        <div class="content-center">
            <div class="content-desc-center">
                <div class="container">
                    <div class="card mo-mt-2">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-4 offset-lg-1">
                                    <div class="ex-page-content">
                                        <h1 class="text-dark">401!</h1>
                                        <h4 class="mb-4">Sorry, you don't have access to this page</h4>
                                        <p class="mb-5">Please login system</p><a
                                            class="btn btn-primary mb-5 waves-effect waves-light" href="/account/login"><i
                                                class="mdi mdi-home"></i> Login</a>
                                    </div>
                                </div>
                                <div class="col-lg-5 offset-lg-1"><img src="/assets/images/error.png" alt=""
                                        class="img-fluid mx-auto d-block"></div>
                            </div>
                        </div>
                    </div><!-- end card -->
                </div><!-- end container -->
            </div>
        </div>
    </div><!-- end error page -->
    <!-- jQuery  -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/metisMenu.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/waves.min.js"></script><!-- App js -->
    <script src="/assets/js/app.js"></script>
</body>
 
</html>